---
import Nav from '../components/Nav.astro'
import Header from '../components/Header.astro'
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zac Site</title>
</head>
<body>
    <Nav logo="連成電腦" />
    <Header myTitle="asdfasdfs" />
    <slot />
</body>
</html>