---
import Master from '../layouts/Master.astro'
const {frontmatter} = Astro.props
---
<Master pageTitle={frontmatter.title}>
   <h2>{frontmatter.title}</h2>
   <div transition:animate="slide">發布日期{frontmatter.pubDate}</div>
   <slot /> 
   <a href="/blog">返回</a>
</Master>